body .navbar {
    background: #EB0A29;
}
body[env='prod'] .navbar,
body[env='production'] .navbar {
    background-color: #454343;
    background-image: linear-gradient(to bottom, #646060, #262626);
}
