interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/websites/
  response:
    body: {string: !!python/unicode '{"data":[{"id":"3","type":"website","attributes":{"name":"QoQa","domain":"wwwqoqach-sprint.qoqa.com","identifier":"wwwqoqach","logo-file-name":"logo_qoqach.png","currency":"chf"},"relationships":{"company":{"data":{"id":1,"name":"QoQa
        Services SA","created_at":"2016-04-18T12:07:46.000+02:00","updated_at":"2016-04-18T12:07:46.000+02:00","default_shipping_vat_id":6}},"website-languages":{"data":[{"id":1,"website-id":3,"language-id":1,"created-at":"2016-04-18T12:07:49.000+02:00","updated-at":"2016-04-18T12:07:49.000+02:00"},{"id":2,"website-id":3,"language-id":2,"created-at":"2016-04-18T12:07:49.000+02:00","updated-at":"2016-04-18T12:07:49.000+02:00"}]}}},{"id":"5","type":"website","attributes":{"name":"Qwine","domain":"qwineqoqach-sprint.qoqa.com","identifier":"qwineqoqach","logo-file-name":"logo_qwinech.png","currency":"chf"},"relationships":{"company":{"data":{"id":1,"name":"QoQa
        Services SA","created_at":"2016-04-18T12:07:46.000+02:00","updated_at":"2016-04-18T12:07:46.0[...]
