interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/websites/
  response:
    body: {string: !!python/unicode '{"data":[{"id":"8","type":"website","attributes":{"name":"Qsport.ch","domain":"qsportqoqach-sprint.qoqa.com","identifier":"qsportqoqach","logo_url":"https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/websites/logos/000/000/008/original/qsport_ch.png?1476096552","negative_logo_url":"https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/websites/negative_logos/000/000/008/original/logo_qsportch_negative.png?1476096552","pictogram_url":"https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/websites/pictograms/000/000/008/original/icon_shop_qsport_1x.svg?1476096552","currency":"chf","created_at":"2011-12-19T10:26:47.000+01:00","updated_at":"2014-03-12T20:58:06.000+01:00"},"relationships":{"company":{"data":{"id":"1","type":"company"}},"website_languages":{"data":[{"id":"288725664","type":"website_language"},{"id":"550534619","type":"website_language"}]}}},{"id":"9","type":"website","attributes":{"name":"Qwine.fr","domain":"qwinefr-sprint.qoqa.com","identifier":"qwineqoqafr","logo_url":"https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/websites/logos/000/000/009/original/qwine_fr.png?1476096552","negative_logo_url":null,"pictogram_url":null,"currency":"eur","created_at":"2012-09-10T16:56:37.000+02:00","updated_at":"2014-08-27T14:33:15.000+02:00"[...]
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/shipping_fees/
  response:
    body: {string: !!python/unicode '{"data":[]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"e0234245cb00aa260ccfa99a9a0b235e"]
    status: {code: 200, message: OK}
version: 1
