interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "user_id": 1000003, "zip": "2068",
        "firstname": "John", "alias": null, "lastname": "Doe", "street2": null, "country_id":
        1, "service_client_number": null, "updated_at": "2016-05-11T11:44:21.000+02:00",
        "phone": "0781733455", "street": "Chemin du bois 17", "company_name": null,
        "gender": 1, "country": "Suisse", "digicode": null, "created_at": "2016-05-11T11:44:21.000+02:00"},
        "type": "address", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"fb93497c02e043f0533d77b877f2d4b8"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000003
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "de", "created_at":
        "2016-05-11T11:44:24.000+02:00", "pseudo": "Hans", "language_id": 2, "updated_at":
        "2016-01-01T11:00:00.000+01:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/003/thumb/cat_boobs.jpg?1462959861",
        "email": "de@qoqa.com"}, "type": "user", "id": "1000003"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4f2859a1dd4ad6702622948e1f3b5056"]
    status: {code: 200, message: OK}
version: 1
