interactions:
- request:
    body: '{"locale": "fr", "product": {"category": "Test Category",
    "translations_attributes":
    [{"locale": "en", "brand": "Things", "name": "MRSAFE"},
     {"locale": "fr", "brand": "Things", "name": "MRSAFE"},
     {"locale": "de", "brand": "Things", "name": "MRSAFE"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000018}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"12cce197fdfb8018bc1403de07603a41"]
    status: {code: 200, message: OK}
version: 1
