interactions:
- request:
    body: '{"locale": "fr", "product_attribute_category": {"translations_attributes":
      [{"locale": "en", "name": "Color"}, {"locale": "fr", "name": "Color"}, {"locale":
      "de", "name": "Color"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attribute_categories/
  response:
    body: {string: !!python/unicode '{"data": {"id": 13}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3833bf8785388393dbbcf819c4058c43"]
    status: {code: 200, message: OK}
- request:
    body: '{"locale": "fr", "product_attribute": {"product_attribute_category_id":
      "13", "translations_attributes": [{"locale": "en", "name": "Red"}, {"locale":
      "fr", "name": "Red"}, {"locale": "de", "name": "Red"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attributes/
  response:
    body: {string: !!python/unicode '{"data": {"id": 19}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f52cbec6d9a11fe6104fceeffb396600"]
    status: {code: 200, message: OK}
version: 1
