interactions:
- request:
    body: '{"device": {"identifier": "Odoo"}, "user": {"login": "xxxxxx", "password":
      "xxxxxx"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/auth/
  response:
    body: {string: !!python/unicode '<html><body>You are being <a href="https://api-sprint.qoqa.com/users/sign_in">redirected</a>.</body></html>'}
    headers:
      content-type: [text/html; charset=utf-8]
      location: ['https://api-sprint.qoqa.com/users/sign_in']
    status: {code: 302, message: Found}
version: 1
