interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000006
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-04-19T14:02:11.000+02:00", "pseudo": "QoQasien", "language_id": 1, "updated_at":
        "2016-04-19T14:02:11.000+02:00", "avatar_url": null, "email": "qoqasien@qoqa.com"},
        "type": "user", "id": "1000006"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"404819903cdee903b4af7766a2c43c33"]
    status: {code: 200, message: OK}
version: 1
