interactions:
- request:
    body: '{"device": {"identifier": "Odoo"}, "user": {"login": "xxxxxx", "password":
      "xxxxxx"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/auth/
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"token": "xxxxxx"},
        "type": "user-token", "id": "3"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"57018765b16815e249c738247e38a571"]
    status: {code: 200, message: OK}
version: 1
