interactions:
- request:
    body: '{"locale": "fr", "product_attribute_category": {"translations_attributes":
      [{"locale": "en", "name": "Color"}, {"locale": "fr", "name": "Color"}, {"locale":
      "de", "name": "Color"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attribute_categories/
  response:
    body: {string: !!python/unicode '{"data": {"id": 8}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"a05d9baba74cc2974b395332e901a6ef"]
    status: {code: 200, message: OK}
version: 1
