interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/orders/100000001
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"lot_price": "6900.0",
        "created_at": "2016-10-10T12:47:57.000+02:00", "variation_id": 100009, "updated_at":
        "2016-10-10T12:47:57.000+02:00", "lot_size": 1, "lot_quantity": 1}, "type":
        "order_item", "id": "100000001"}, {"attributes": {"lot_price": "6900.0", "created_at":
        "2016-10-10T12:47:57.000+02:00", "variation_id": 100011, "updated_at": "2016-10-10T12:47:57.000+02:00",
        "lot_size": 1, "lot_quantity": 2}, "type": "order_item", "id": "100000002"},
        {"relationships": {"invoice": {"data": {"type": "invoice", "id": "1"}}}, "attributes":
        {"status": "confirmed", "kind": "standard", "payment_url": null, "created_at":
        "2016-10-10T12:47:55.000+02:00", "payment_provider_id": 7, "updated_at": "2016-10-10T12:47:55.000+02:00",
        "parent_id": null, "amount": "6900.0", "transaction_id": "1", "payment_method_id":
        1}, "type": "payment", "id": "1"}, {"relationships": {"invoice_items": {"data":
        [{"type": "invoice_item", "id": "1"}, {"type": "invoice_item", "id": "2"}]}},
        "attributes": {"status": "confirmed", "kind": "standard", "created_at": "2015-04-14T10:19:06.000+02:00",
        "reference": "ABCD1", "updated_at": "2016-10-10T12:47:57.000+02:00"}, "type":
        "invoice", "id": "1"}, {"attributes": {"category": "product", "lot_price":
        "6900.0", "updated_at": "2016-10-10T12:47:55.000+02:00", "created_at": "2016-10-10T12:47:55.000+02:00",
        "variation_id": 100009, "ignore_credit": false, "discount_id": null, "vat_id":
        6, "lot_size": 1, "lot_quantity": 1}, "type": "invoice_item", "id": "1"},
        {"attributes": {"category": "product", "lot_price": "6900.0", "updated_at":
        "2016-10-10T12:47:55.000+02:00", "created_at": "2016-10-10T12:47:55.000+02:00",
        "variation_id": 100011, "ignore_credit": false, "discount_id": null, "vat_id":
        6, "lot_size": 1, "lot_quantity": 2}, "type": "invoice_item", "id": "2"}],
        "data": {"relationships": {"billing_address": {"data": {"type": "address",
        "id": "100000001"}}, "invoices": {"data": [{"type": "invoice", "id": "1"}]},
        "order_items": {"data": [{"type": "order_item", "id": "100000001"}, {"type":
        "order_item", "id": "100000002"}]}, "discount": {"data": null}, "payments":
        {"data": [{"type": "payment", "id": "1"}]}, "shipping_address": {"data": {"type":
        "address", "id": "100000001"}}, "user": {"data": {"type": "user", "id": "1000001"}}},
        "attributes": {"status": "confirmed", "delivery_on": "2016-10-19", "reference":
        "150414-UGLBGN", "offer_id": 1000005, "website_id": 3, "updated_at": "2015-04-14T10:19:06.000+02:00",
        "currency": "chf", "shipping_carrier_id": 1, "total": "20700.0", "subtotal":
        "20700.0", "created_at": "2015-04-14T10:19:06.000+02:00", "shipping_fee_id":
        1000003}, "type": "order", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3218d6070399f8c7dd21404c8b823f59"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/1000005
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"vat_id": 6, "created_at":
        "2016-10-10T12:47:57.000+02:00", "website_id": 3, "name": "Converse All stars",
        "updated_at": "2016-10-10T12:49:16.998+02:00"}, "type": "offer", "id": "1000005"},
        "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"bc47ef914d1d4105752f3bc0154b988b"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/shipping_fees/1000003
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"min_quantity":
        1, "price": "0.0"}, "type": "shipping_fee_price", "id": "1000007"}], "data":
        {"relationships": {"website": {"data": {"type": "website", "id": "3"}}, "shipping_fee_prices":
        {"data": [{"type": "shipping_fee_price", "id": "1000007"}]}}, "attributes":
        {"name": "Gratuit"}, "type": "shipping_fee", "id": "1000003"}, "jsonapi":
        {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"63889aa9ebd26ec4f03a34a7d3f1d527"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"relationships": {"mailing_config":
        {"data": {"type": "mailing_config", "id": "929608796"}}, "user_extension":
        {"data": {"type": "user_extension", "id": "74324737"}}}, "attributes": {"has_avatar":
        true, "locale": "fr", "created_at": "2016-10-10T12:47:58.000+02:00", "pseudo":
        "Admin", "language_id": 1, "updated_at": "2016-10-10T13:42:49.338+02:00",
        "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1476096473",
        "is_admin": true, "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"},
        "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"5ae6e37f8e9c1a8a5734239b6f924d88"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "order_user_id": 1000001, "user_id":
        1000003, "zip": "2068", "firstname": "John", "alias": null, "lastname": "Doe",
        "street2": null, "country_id": 1, "service_client_number": null, "updated_at":
        "2016-10-10T12:47:56.000+02:00", "phone": "0781733455", "street": "Chemin
        du bois 17", "company_name": null, "gender": 1, "country": "Suisse", "digicode":
        null, "created_at": "2016-10-10T12:47:56.000+02:00"}, "type": "address", "id":
        "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6c9b1e3ea7bfc0eafae39c9cf81ba360"]
    status: {code: 200, message: OK}
[...]
