interactions:
- request:
    body: '{"shipping_packages": [{"tracking_number": "PKG_1", "shipping_package_type_id":
      "7", "shipping_package_items_attributes": [{"variation_id": "100011", "quantity":
      5.0}]}]}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/orders/10/shipping_packages
  response:
    body: {string: !!python/unicode '{"data":[{"id":"10"}]}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f8e692fe4539900a4224a3cf5072add4"]
    status: {code: 200, message: OK}
version: 1
