interactions:
- request:
    body: '{"amount": 5.0}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/payments/1/credit_notes
  response:
    body: {string: !!python/unicode '{"data": {"relationships": {"invoice": {"data":
        null}}, "attributes": {"status": "requested", "kind": "credit_note", "created_at":
        "2016-06-07T11:48:03.223+02:00", "payment_provider_id": 7, "updated_at": "2016-06-07T11:48:03.223+02:00",
        "parent_id": 1, "amount": "5.0", "transaction_id": 9, "payment_method_id":
        1}, "type": "payment", "id": "7"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"187f61cd02cef6bb275dacf10b49896a"]
    status: {code: 200, message: OK}
version: 1
