interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/websites/
  response:
    body: {string: !!python/unicode '{"data":[{"id":"3","type":"website","attributes":{"name":"QoQa","domain":"wwwqoqach-sprint.qoqa.com","identifier":"wwwqoqach","logo_file_name":"logo_qoqach.png","currency":"chf"},"relationships":{"company":{"data":{"id":1,"name":"QoQa
        Services SA","created_at":"2016-04-19T14:02:09.000+02:00","updated_at":"2016-04-19T14:02:09.000+02:00","default_shipping_vat_id":6}},"website_languages":{"data":[{"id":1,"website_id":3,"language_id":1,"created_at":"2016-04-19T14:02:11.000+02:00","updated_at":"2016-04-19T14:02:11.000+02:00"},{"id":2,"website_id":3,"language_id":2,"created_at":"2016-04-19T14:02:11.000+02:00","updated_at":"2016-04-19T14:02:11.000+02:00"}]}}},{"id":"5","type":"website","attributes":{"name":"Qwine","domain":"qwineqoqach-sprint.qoqa.com","identifier":"qwineqoqach","logo_file_name":"logo_qwinech.png","currency":"chf"},"relationships":{"company":{"data":{"id":1,"name":"QoQa
        Services SA","created_at":"2016-0[...]
