interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/claims/4
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"created_at": "2016-06-27T14:27:59.000+02:00",
        "file_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/cs/claim_media/files/000/000/002/original/iphone-5s-front.jpg?1467030479",
        "updated_at": "2016-06-27T14:27:59.000+02:00"}, "type": "cs_claim_medium",
        "id": "2"}], "data": {"relationships": {"media": {"data": [{"type": "cs_claim_medium",
        "id": "2"}]}}, "attributes": {"category_id": 1, "user_id": 1000001, "main_category":
        null, "order_id": 2, "created_at": "2016-06-27T14:28:00.000+02:00", "updated_at":
        "2016-06-27T14:28:00.000+02:00", "phone": null, "message": "Bonjour, J''ai
        enfin re\u00e7u mon iPhone. Mais il \u00e9tait cass\u00e9 dans sa boite. Vous
        pouvez voir les cassures dans la photo envoy\u00e9. Comme tout \u00e7a \u00e0
        pas l''air tr\u00e8s solide je vais reprendre mon 3310 merci\n", "identifier":
        "test.qoqa", "email": "dev@qoqa.com", "subject": "Admin - Order <150414-C8TBCI>"},
        "type": "cs_claim", "id": "4"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"419bb01ef550dbbb2ee2881f2a996dea"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-06-27T14:28:00.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-06-28T09:47:17.823+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1467030479",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"800db4c6e351ce74dcad52a6f8a13f0f"]
    status: {code: 200, message: OK}
version: 1
