interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/orders/16
  response:
    body: {string: !!python/unicode '{"included": [{"relationships": {"websites":
        {"data": []}}, "attributes": {"free_shipping": true, "start_at": "2016-05-31T02:00:00.000+02:00",
        "description": "Promo admin 6", "stop_at": "2016-07-01T02:00:00.000+02:00",
        "amount": "499.0", "code_name": "L58147485N", "main_type": "promo", "sub_type":
        "marketing"}, "type": "discount", "id": "11"}, {"attributes": {"created_at":
        "2016-05-31T09:38:52.000+02:00", "variation_id": 100001, "unit_price": "333.0",
        "updated_at": "2016-05-31T09:38:52.000+02:00", "lot_size": 1, "lot_quantity":
        2}, "type": "order_item", "id": "19"}, {"relationships": {"payment_method":
        {"data": {"updated_at": "2016-05-31T09:38:49.000+02:00", "created_at": "2016-05-31T09:38:49.000+02:00",
        "id": 1, "name": "visa"}}, "discount": {"data": null}, "payment_provider":
        {"data": {"updated_at": "2016-05-31T09:38:47.000+02:00", "created_at": "2016-05-31T09:38:47.000+02:00",
        "id": 7, "name": "Datatrans"}}}, "attributes": {"status": "confirmed", "amount":
        "167.0", "merchant_id": 1100004506, "sign": "43ca7751c5a742b8285f7b493106934a"},
        "type": "payment", "id": "2"}, {"relationships": {"invoice_items": {"data":
        [{"category": "product", "invoice_id": 15, "created_at": "2016-05-31T09:38:53.000+02:00",
        "updated_at": "2016-05-31T09:38:53.000+02:00", "unit_price": "333.0", "ignore_credit":
        false, "discount_id": null, "vat_id": 6, "months_warranty": null, "lot_size":
        1, "offer_variation_id": 1, "lot_quantity": 2, "id": 24}, {"category": "shipping",
        "invoice_id": 15, "created_at": "2016-05-31T09:38:53.000+02:00", "updated_at":
        "2016-05-31T09:38:53.000+02:00", "unit_price": "9.0", "ignore_credit": false,
        "discount_id": null, "vat_id": 6, "months_warranty": null, "lot_size": 1,
        "offer_variation_id": null, "lot_quantity": 1, "id": 25}, {"category": "discount",
        "invoice_id": 15, "created_at": "2016-05-31T09:38:53.000+02:00", "updated_at":
        "2016-05-31T09:38:53.000+02:00", "unit_price": "9.0", "ignore_credit": true,
        "discount_id": 11, "vat_id": 6, "months_warranty": null, "lot_size": 1, "offer_variation_id":
        null, "lot_quantity": 1, "id": 26}, {"category": "discount", "invoice_id":
        15, "created_at": "2016-05-31T09:38:53.000+02:00", "updated_at": "2016-05-31T09:38:53.000+02:00",
        "unit_price": "499.0", "ignore_credit": false, "discount_id": 11, "vat_id":
        6, "months_warranty": null, "lot_size": 1, "offer_variation_id": null, "lot_quantity":
        1, "id": 27}]}}, "attributes": {"status": "confirmed", "kind": "standard",
        "created_at": "2016-05-31T03:00:00.000+02:00", "reference": "Q8ZUIQJY6T",
        "updated_at": "2016-05-31T09:38:47.000+02:00"}, "type": "invoice", "id": "15"}],
        "data": {"relationships": {"billing_address": {"data": {"type": "address",
        "id": "100000001"}}, "invoices": {"data": [{"type": "invoice", "id": "15"}]},
        "order_items": {"data": [{"type": "order_item", "id": "19"}]}, "discount":
        {"data": {"type": "discount", "id": "11"}}, "payments": {"data": [{"type":
        "payment", "id": "2"}]}, "shipping_address": {"data": {"type": "address",
        "id": "100000001"}}, "user": {"data": {"type": "user", "id": "1000001"}}},
        "attributes": {"status": "confirmed", "offer_id": 1, "website_id": 3, "updated_at":
        "2016-05-31T03:00:00.000+02:00", "currency": "chf", "shipping_carrier_id":
        1, "total": "167.0", "subtotal": "666.0", "created_at": "2016-05-31T03:00:00.000+02:00",
        "shipping_fee_id": 1000001}, "type": "order", "id": "16"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"cfc79470d1607830a2d9ec5cc763dfed"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/1
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"created_at": "2016-05-31T09:38:43.000+02:00",
        "website_id": 3, "name": "Apple iPhone 6 / 64GB", "updated_at": "2016-05-31T09:38:43.000+02:00"},
        "type": "offer", "id": "1"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"8c5fc4889562ddc7567fe888846028de"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-05-31T09:38:42.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-05-31T14:47:55.749+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1464680319",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"c21c7bbace8e19f32627fb1ae5fc658a"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "user_id": 1000003, "zip": "2068",
        "firstname": "John", "alias": null, "lastname": "Doe", "street2": null, "country_id":
        1, "service_client_number": null, "updated_at": "2016-05-31T09:38:42.000+02:00",
        "phone": "0781733455", "street": "Chemin du bois 17", "company_name": null,
        "gender": 1, "country": "Suisse", "digicode": null, "created_at": "2016-05-31T09:38:42.000+02:00"},
        "type": "address", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4c3c4bdc4847757ae9618caeda64f7b0"]
    status: {code: 200, message: OK}
[...]
