interactions:
- request:
    body: '{"locale": "fr", "product": {"translations_attributes": [{"locale": "en",
      "brand": false, "name": "MRSAFE"}, {"locale": "fr", "brand": false, "name":
      "MRSAFE"}, {"locale": "de", "brand": false, "name": "MRSAFE"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000012}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6728e828d53ae7dc28f5b3ab19faab1c"]
    status: {code: 200, message: OK}
- request:
    body: '{"locale": "fr", "variation": {"sku": "MRSAFE-variant", "product_attribute_variations_attributes":
      [], "product_id": "1000012"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/variations/
  response:
    body: {string: !!python/unicode '{"data": {"id": 14}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"a988765356782d75905c35e99b2d9b3f"]
    status: {code: 200, message: OK}
version: 1
