interactions:
- request:
    body: '{"locale": "fr", "product": {"category": "Test Category",
    "translations_attributes":
    [{"locale": "en", "brand": "Things", "name": "MRSAFE"},
     {"locale": "fr", "brand": "Things", "name": "MRSAFE"},
     {"locale": "de", "brand": "Things", "name": "MRSAFE"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000017}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"ba2a613e0c130d2b9ea10c2a630a5435"]
    status: {code: 200, message: OK}
- request:
    body: '{"locale": "fr", "variation": {"sku": "MRSAFE-variant", "months_warranty":
      12, "product_attribute_variations_attributes": [], "product_id": "1000017",
      "liters_capacity": 0.75, "ean": "0190893412216"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/variations/
  response:
    body: {string: !!python/unicode '{"data": {"id": 100019}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"b7121995a81187a20eebc1acd7fb1c93"]
    status: {code: 200, message: OK}
version: 1
