interactions:
- request:
    body: '{"locale": "fr", "product": {"sku": false, "translations_attributes": [{"locale":
      "en", "brand": false, "name": "MRSAFE"}, {"locale": "fr", "brand": false, "name":
      "MRSAFE"}, {"locale": "de", "brand": false, "name": "MRSAFE"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000006}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"78882d7c8216afa361d554f3fec66409"]
    status: {code: 200, message: OK}
version: 1
