interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/orders/1
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"created_at": "2016-06-24T14:14:25.000+02:00",
        "variation_id": 100009, "lot_price": "6900.0", "updated_at": "2016-06-24T14:14:25.000+02:00",
        "lot_size": 1, "lot_quantity": 1}, "type": "order_item", "id": "1"}, {"attributes":
        {"created_at": "2016-06-24T14:14:25.000+02:00", "variation_id": 100011, "lot_price":
        "6900.0", "updated_at": "2016-06-24T14:14:25.000+02:00", "lot_size": 1, "lot_quantity":
        2}, "type": "order_item", "id": "2"}, {"relationships": {"invoice": {"data":
        {"type": "invoice", "id": "1"}}}, "attributes": {"status": "confirmed", "kind":
        "standard", "payment_url": null, "created_at": "2016-06-24T14:14:24.000+02:00",
        "payment_provider_id": 7, "updated_at": "2016-06-24T14:14:24.000+02:00", "parent_id":
        null, "amount": "6900.0", "transaction_id": "1", "payment_method_id": 1},
        "type": "payment", "id": "1"}, {"relationships": {"invoice_items": {"data":
        [{"type": "invoice_item", "id": "1"}, {"type": "invoice_item", "id": "2"}]}},
        "attributes": {"status": "confirmed", "kind": "standard", "created_at": "2015-04-14T10:19:06.000+02:00",
        "reference": "ABCD1", "updated_at": "2016-06-24T14:14:24.000+02:00"}, "type":
        "invoice", "id": "1"}, {"attributes": {"category": "product", "updated_at":
        "2016-06-24T14:14:25.000+02:00", "created_at": "2016-06-24T14:14:25.000+02:00",
        "variation_id": 100009, "lot_price": "6900.0", "ignore_credit": false, "discount_id":
        null, "vat_id": 6, "lot_size": 1, "lot_quantity": 1}, "type": "invoice_item",
        "id": "1"}, {"attributes": {"category": "product", "updated_at": "2016-06-24T14:14:25.000+02:00",
        "created_at": "2016-06-24T14:14:25.000+02:00", "variation_id": 100011, "lot_price":
        "6900.0", "ignore_credit": false, "discount_id": null, "vat_id": 6, "lot_size":
        1, "lot_quantity": 2}, "type": "invoice_item", "id": "2"}], "data": {"relationships":
        {"billing_address": {"data": {"type": "address", "id": "100000001"}}, "invoices":
        {"data": [{"type": "invoice", "id": "1"}]}, "order_items": {"data": [{"type":
        "order_item", "id": "1"}, {"type": "order_item", "id": "2"}]}, "discount":
        {"data": null}, "payments": {"data": [{"type": "payment", "id": "1"}]}, "shipping_address":
        {"data": {"type": "address", "id": "100000001"}}, "user": {"data": {"type":
        "user", "id": "1000001"}}}, "attributes": {"status": "confirmed", "delivery_on":
        null, "reference": "150414-UGLBGN", "offer_id": 1000005, "website_id": 3, "updated_at": "2015-04-14T10:19:06.000+02:00",
        "currency": "chf", "shipping_carrier_id": 1, "total": "20700.0", "subtotal":
        "20700.0", "created_at": "2015-04-14T10:19:06.000+02:00", "shipping_fee_id":
        1000003}, "type": "order", "id": "1"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"fb89841edc43c2e8063506829da0561f"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/1000005
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"created_at": "2016-06-24T14:14:26.000+02:00",
        "website_id": 3, "name": "Converse All stars", "updated_at": "2016-06-24T14:15:32.148+02:00"},
        "type": "offer", "id": "1000005"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"6d52a93dd73a8c880c00c30f87f3910a"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-06-24T14:14:27.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-06-24T15:01:02.475+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1466770464",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4b8ecb298dac2888e62e98cf15af1a5a"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "user_id": 1000003, "order_user_id": null,
        "zip": "2068", "firstname": "John", "alias": null, "lastname": "Doe", "street2": null, "country_id":
        1, "service_client_number": null, "updated_at": "2016-06-24T14:14:25.000+02:00",
        "phone": "0781733455", "street": "Chemin du bois 17", "company_name": null,
        "gender": 1, "country": "Suisse", "digicode": null, "created_at": "2016-06-24T14:14:25.000+02:00"},
        "type": "address", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3f920a0a5dc3016f33199badb392f17e"]
    status: {code: 200, message: OK}
[...]
