interactions:
- request:
    body: '{"locale": "fr", "product_attribute_category": {"translations_attributes":
      [{"locale": "en", "name": "Color"}, {"locale": "fr", "name": "Color"}, {"locale":
      "de", "name": "Color"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attribute_categories/
  response:
    body: {string: !!python/unicode '{"data": {"id": 10}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"b7d32fb82992e9d8703cae069c3099d8"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"locale": "fr", "product": {"translations_attributes": [{"locale": "en",
      "brand": false, "name": "Geelee"}, {"locale": "fr", "brand": false, "name":
      "Geelee"}, {"locale": "de", "brand": false, "name": "Geelee"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000009}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"aa72fbe5df13dc136dfeeb9f3d524e4d"]
    status: {code: 200, message: OK}
version: 1
