interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/orders/16
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"free_shipping":
        true, "description": "Promo admin 6", "created_at": "2016-06-28T17:32:22.000+02:00",
        "company_id": 1, "updated_at": "2016-06-28T17:32:22.000+02:00", "currency":
        "chf", "amount": "499.0", "accounting_website_id": 3, "main_type": "promo",
        "sub_type": "marketing"}, "type": "discount", "id": "10000011"}, {"attributes":
        {"created_at": "2016-06-28T17:32:23.000+02:00", "variation_id": 100001, "lot_price":
        "333.0", "updated_at": "2016-06-28T17:32:23.000+02:00", "lot_size": 1, "lot_quantity":
        2}, "type": "order_item", "id": "19"}, {"relationships": {"invoice": {"data":
        {"type": "invoice", "id": "15"}}}, "attributes": {"status": "confirmed", "kind":
        "standard", "payment_url": null, "created_at": "2016-06-28T03:00:00.000+02:00",
        "payment_provider_id": 7, "updated_at": "2016-06-28T03:00:00.000+02:00", "parent_id":
        null, "amount": "167.0", "transaction_id": "2", "payment_method_id": 1}, "type":
        "payment", "id": "2"}, {"relationships": {"invoice_items": {"data": [{"type":
        "invoice_item", "id": "24"}, {"type": "invoice_item", "id": "25"}, {"type":
        "invoice_item", "id": "26"}, {"type": "invoice_item", "id": "27"}]}}, "attributes":
        {"status": "confirmed", "kind": "standard", "created_at": "2016-06-28T03:00:00.000+02:00",
        "reference": "Q8ZUIQJY6T", "updated_at": "2016-06-28T17:32:24.000+02:00"},
        "type": "invoice", "id": "15"}, {"attributes": {"category": "product", "updated_at":
        "2016-06-28T17:32:25.000+02:00", "created_at": "2016-06-28T17:32:25.000+02:00",
        "variation_id": 100001, "lot_price": "333.0", "ignore_credit": false, "discount_id":
        null, "vat_id": 6, "lot_size": 1, "lot_quantity": 2}, "type": "invoice_item",
        "id": "24"}, {"attributes": {"category": "shipping", "updated_at": "2016-06-28T17:32:25.000+02:00",
        "created_at": "2016-06-28T17:32:25.000+02:00", "variation_id": null, "lot_price":
        "9.0", "ignore_credit": false, "discount_id": null, "vat_id": 6, "lot_size":
        1, "lot_quantity": 1}, "type": "invoice_item", "id": "25"}, {"attributes":
        {"category": "discount", "updated_at": "2016-06-28T17:32:25.000+02:00", "created_at":
        "2016-06-28T17:32:25.000+02:00", "variation_id": null, "lot_price": "9.0",
        "ignore_credit": true, "discount_id": 10000011, "vat_id": 6, "lot_size": 1,
        "lot_quantity": 1}, "type": "invoice_item", "id": "26"}, {"attributes": {"category":
        "discount", "updated_at": "2016-06-28T17:32:25.000+02:00", "created_at": "2016-06-28T17:32:25.000+02:00",
        "variation_id": null, "lot_price": "499.0", "ignore_credit": false, "discount_id":
        10000011, "vat_id": 6, "lot_size": 1, "lot_quantity": 1}, "type": "invoice_item",
        "id": "27"}], "data": {"relationships": {"billing_address": {"data": {"type":
        "address", "id": "100000001"}}, "invoices": {"data": [{"type": "invoice",
        "id": "15"}]}, "order_items": {"data": [{"type": "order_item", "id": "19"}]},
        "discount": {"data": {"type": "discount", "id": "10000011"}}, "payments":
        {"data": [{"type": "payment", "id": "2"}]}, "shipping_address": {"data": {"type":
        "address", "id": "100000001"}}, "user": {"data": {"type": "user", "id": "1000001"}}},
        "attributes": {"status": "confirmed", "delivery_on": null, "offer_id": 1000001,
        "website_id": 3, "updated_at": "2016-06-28T03:00:00.000+02:00", "currency":
        "chf", "shipping_carrier_id": 1, "total": "167.0", "subtotal": "666.0", "created_at":
        "2016-06-28T03:00:00.000+02:00", "shipping_fee_id": 1000001}, "type": "order",
        "id": "16"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"3a188172fe91e1692f5373fd98efe034"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"created_at": "2016-06-28T17:32:23.000+02:00",
        "website_id": 3, "name": "Apple iPhone 6 / 64GB", "updated_at": "2016-06-28T17:33:41.776+02:00"},
        "type": "offer", "id": "1000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"0b74aa60ca1cb2c689f177c073500413"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-06-28T17:32:23.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-06-28T17:54:52.263+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1467127942",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"1ebfa94eda86255e12b2d3db3ba42585"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "user_id": 1000003, "zip": "2068",
        "firstname": "John", "alias": null, "lastname": "Doe", "street2": null, "country_id":
        1, "service_client_number": null, "updated_at": "2016-06-28T17:32:24.000+02:00",
        "phone": "0781733455", "street": "Chemin du bois 17", "company_name": null,
        "gender": 1, "country": "Suisse", "digicode": null, "created_at": "2016-06-28T17:32:24.000+02:00"},
        "type": "address", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"2a2f72dedb2db46ecd6af743283cbdf6"]
    status: {code: 200, message: OK}
[...]
