interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/discount_accountings/100000002
  response:
    body: {string: "{\"errors\":[{\"code\":3,\"title\":\"Acc\xE8s refus\xE9\",\"detail\":\"Mauvais
        token\",\"meta\":{}}]}"}
    headers:
      content-type: [application/json; charset=utf-8]
      www-authenticate: [Token realm="Application"]
    status: {code: 401, message: Unauthorized}
version: 1
