interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/discount_accountings/100000001
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"discount_accounting_group_id":
        100000001, "created_at": "2016-06-22T17:15:46.000+02:00", "updated_at": "2016-06-22T17:15:46.000+02:00",
        "label": "Emission du bons de rabais SAV", "vat_id": 6, "amount": "-100.0",
        "is_vat": false}, "type": "discount_accounting_line", "id": "100000001"},
        {"attributes": {"discount_accounting_group_id": 100000001, "created_at": "2016-06-22T17:15:46.000+02:00",
        "updated_at": "2016-06-22T17:15:46.000+02:00", "label": "Frais service client\u00e8le
        net", "vat_id": 6, "amount": "92.6", "is_vat": false}, "type": "discount_accounting_line",
        "id": "100000002"}, {"attributes": {"discount_accounting_group_id": 100000001,
        "created_at": "2016-06-22T17:15:46.000+02:00", "updated_at": "2016-06-22T17:15:46.000+02:00",
        "label": "TVA due pour bons de rabais SAV", "vat_id": 6, "amount": "7.4",
        "is_vat": true}, "type": "discount_accounting_line", "id": "100000003"}],
        "data": {"relationships": {"discount_accounting_lines": {"data": [{"type":
        "discount_accounting_line", "id": "100000001"}, {"type": "discount_accounting_line",
        "id": "100000002"}, {"type": "discount_accounting_line", "id": "100000003"}]}},
        "attributes": {"user_id": 1000001, "created_at": "2016-06-22T17:15:46.000+02:00",
        "updated_at": "2016-06-22T17:15:46.000+02:00", "company_id": 1, "currency":
        "chf", "date": "2016-06-22", "accounting_website_id": 3}, "type": "discount_accounting_group",
        "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"454340ddc16dfd478b2e67f06da7465e"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-06-22T17:15:47.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-06-23T13:46:08.362+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1466608546",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"39c2c215f4ec3f95787b58a366f19654"]
    status: {code: 200, message: OK}
version: 1
