interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/discount_accountings/100000001
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"free_shipping":
        false, "description": "Promo admin 1", "created_at": "2016-06-27T13:42:58.000+02:00",
        "company_id": 1, "updated_at": "2016-06-27T13:42:58.000+02:00", "currency":
        "chf", "amount": "100.0", "accounting_website_id": 3, "main_type": "promo",
        "sub_type": "marketing"}, "type": "discount", "id": "10000001"}, {"attributes":
        {"discount_accounting_group_id": 100000001, "created_at": "2016-06-27T13:42:58.000+02:00",
        "updated_at": "2016-06-27T13:42:58.000+02:00", "label": "Emission du bons
        de rabais SAV", "vat_id": 6, "amount": "-100.0", "is_vat": false}, "type":
        "discount_accounting_line", "id": "100000001"}, {"attributes": {"discount_accounting_group_id":
        100000001, "created_at": "2016-06-27T13:42:58.000+02:00", "updated_at": "2016-06-27T13:42:58.000+02:00",
        "label": "Frais service client\u00e8le net", "vat_id": 6, "amount": "92.6",
        "is_vat": false}, "type": "discount_accounting_line", "id": "100000002"},
        {"attributes": {"discount_accounting_group_id": 100000001, "created_at": "2016-06-27T13:42:58.000+02:00",
        "updated_at": "2016-06-27T13:42:58.000+02:00", "label": "TVA due pour bons
        de rabais SAV", "vat_id": 6, "amount": "7.4", "is_vat": true}, "type": "discount_accounting_line",
        "id": "100000003"}], "data": {"relationships": {"discount": {"data": {"type":
        "discount", "id": "10000001"}}, "discount_accounting_lines": {"data": [{"type":
        "discount_accounting_line", "id": "100000001"}, {"type": "discount_accounting_line",
        "id": "100000002"}, {"type": "discount_accounting_line", "id": "100000003"}]}},
        "attributes": {"date": "2016-06-27", "created_at": "2016-06-27T13:42:58.000+02:00",
        "user_id": 1000001, "updated_at": "2016-06-27T13:42:58.000+02:00"}, "type":
        "discount_accounting_group", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"c9270584fcc74850d70ad00e8841f5a1"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-06-27T13:42:59.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-06-27T13:52:32.108+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1467027778",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"702a3a9218d5d603512c1b9eba38003c"]
    status: {code: 200, message: OK}
version: 1
