interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/orders/1
  response:
    body: {string: !!python/unicode '{"included": [{"attributes": {"created_at": "2016-05-31T09:38:52.000+02:00",
        "variation_id": 100009, "unit_price": "6900.0", "updated_at": "2016-05-31T09:38:52.000+02:00",
        "lot_size": 1, "lot_quantity": 1}, "type": "order_item", "id": "1"}, {"attributes":
        {"created_at": "2016-05-31T09:38:52.000+02:00", "variation_id": 100011, "unit_price":
        "6900.0", "updated_at": "2016-05-31T09:38:52.000+02:00", "lot_size": 1, "lot_quantity":
        2}, "type": "order_item", "id": "2"}, {"relationships": {"payment_method":
        {"data": {"updated_at": "2016-05-31T09:38:49.000+02:00", "created_at": "2016-05-31T09:38:49.000+02:00",
        "id": 1, "name": "visa"}}, "discount": {"data": null}, "payment_provider":
        {"data": {"updated_at": "2016-05-31T09:38:47.000+02:00", "created_at": "2016-05-31T09:38:47.000+02:00",
        "id": 7, "name": "Datatrans"}}}, "attributes": {"status": "confirmed", "amount":
        "6900.0", "merchant_id": 1100001793, "sign": "c27b9631a4521405039066c11b62530e"},
        "type": "payment", "id": "1"}, {"relationships": {"invoice_items": {"data":
        [{"category": "product", "invoice_id": 1, "created_at": "2016-05-31T09:38:53.000+02:00",
        "updated_at": "2016-05-31T09:38:53.000+02:00", "unit_price": "6900.0", "ignore_credit":
        false, "discount_id": null, "vat_id": 6, "months_warranty": null, "lot_size":
        1, "offer_variation_id": 9, "lot_quantity": 1, "id": 1}, {"category": "product",
        "invoice_id": 1, "created_at": "2016-05-31T09:38:53.000+02:00", "updated_at":
        "2016-05-31T09:38:53.000+02:00", "unit_price": "6900.0", "ignore_credit":
        false, "discount_id": null, "vat_id": 6, "months_warranty": null, "lot_size":
        1, "offer_variation_id": 11, "lot_quantity": 2, "id": 2}]}}, "attributes":
        {"status": "confirmed", "kind": "standard", "created_at": "2015-04-14T10:19:06.000+02:00",
        "reference": "ABCD1", "updated_at": "2016-05-31T09:38:47.000+02:00"}, "type":
        "invoice", "id": "1"}], "data": {"relationships": {"billing_address": {"data":
        {"type": "address", "id": "100000001"}}, "invoices": {"data": [{"type": "invoice",
        "id": "1"}]}, "order_items": {"data": [{"type": "order_item", "id": "1"},
        {"type": "order_item", "id": "2"}]}, "discount": {"data": null}, "payments":
        {"data": [{"type": "payment", "id": "1"}]}, "shipping_address": {"data": {"type":
        "address", "id": "100000001"}}, "user": {"data": {"type": "user", "id": "1000001"}}},
        "attributes": {"status": "confirmed", "offer_id": 5, "website_id": 3, "updated_at":
        "2015-04-14T10:19:06.000+02:00", "currency": "chf", "shipping_carrier_id":
        1, "total": "20700.0", "subtotal": "20700.0", "created_at": "2015-04-14T10:19:06.000+02:00",
        "shipping_fee_id": 1000003}, "type": "order", "id": "1"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"80bfd0d02f2e58da3312961ad7e6b0af"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/5
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"created_at": "2016-05-31T09:38:43.000+02:00",
        "website_id": 3, "name": "Converse All stars", "updated_at": "2016-05-31T09:38:43.000+02:00"},
        "type": "offer", "id": "5"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"88cf0b5ae95390f09feb145f3b011160"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/users/1000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"locale": "fr", "created_at":
        "2016-05-31T09:38:42.000+02:00", "pseudo": "Admin", "language_id": 1, "updated_at":
        "2016-05-31T11:03:30.524+02:00", "avatar_url": "https://s3-eu-central-1.amazonaws.com/qoqa4-sprint/users/avatars/001/000/001/thumb/loutre.jpg?1464680319",
        "email": "dev@qoqa.com"}, "type": "user", "id": "1000001"}, "jsonapi": {"version":
        "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"800d15150a852292057d9bb4aed00beb"]
    status: {code: 200, message: OK}
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/addresses/100000001
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"service": "standard",
        "city": "Hauterive", "kind": "personal", "user_id": 1000003, "zip": "2068",
        "firstname": "John", "alias": null, "lastname": "Doe", "street2": null, "country_id":
        1, "service_client_number": null, "updated_at": "2016-05-31T09:38:42.000+02:00",
        "phone": "0781733455", "street": "Chemin du bois 17", "company_name": null,
        "gender": 1, "country": "Suisse", "digicode": null, "created_at": "2016-05-31T09:38:42.000+02:00"},
        "type": "address", "id": "100000001"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"4c3c4bdc4847757ae9618caeda64f7b0"]
    status: {code: 200, message: OK}
[...]
