interactions:
- request:
    body: null
    headers:
      Content-Type: [application/json]
    method: GET
    uri: https://api-sprint.qoqa.com/v1/admin/offers/1
  response:
    body: {string: !!python/unicode '{"data": {"attributes": {"created_at": "2016-04-25T17:25:00.000+02:00",
        "website_id": 3, "name": "Apple iPhone 6 / 64GB", "updated_at": "2016-04-25T17:25:00.000+02:00"},
        "type": "offer", "id": "1"}, "jsonapi": {"version": "1.0"}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"ea11fd5955d34689e8b52f555b678134"]
    status: {code: 200, message: OK}
version: 1
