interactions:
- request:
    body: '{"locale": "fr", "product_attribute_category": {"translations_attributes":
      [{"locale": "en", "name": "Color"}, {"locale": "fr", "name": "Color"}, {"locale":
      "de", "name": "Color"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attribute_categories/
  response:
    body: {string: !!python/unicode '{"data": {"id": 5}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"9bc5fff3b233c2c8c699119c58c780ce"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"locale": "fr", "product": {"translations_attributes": [{"locale": "en",
      "brand": false, "name": "Geelee"}, {"locale": "fr", "brand": false, "name":
      "Geelee"}, {"locale": "de", "brand": false, "name": "Geelee"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/products/
  response:
    body: {string: !!python/unicode '{"data": {"id": 1000005}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"67c6b5c3e60ef7dde9394d88f92f8c46"]
    status: {code: 200, message: OK}
- request:
    body: '{"locale": "fr", "product_attribute": {"product_attribute_category_id":
      "5", "translations_attributes": [{"locale": "en", "name": "Red"}, {"locale":
      "fr", "name": "Red"}, {"locale": "de", "name": "Red"}]}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/product_attributes/
  response:
    body: {string: !!python/unicode '{"data": {"id": 19}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"f52cbec6d9a11fe6104fceeffb396600"]
    status: {code: 200, message: OK}
[...]
- request:
    body: '{"locale": "fr", "variation": {"sku": "Geelee-Red-M", "product_attribute_variations_attributes":
      [{"product_attribute_id": "19", "product_category_attributes": {"product_attribute_category_id":
      "5", "product_id": "1000005"}}, {"product_attribute_id": "20", "product_category_attributes":
      {"product_attribute_category_id": "6", "product_id": "1000005"}}], "product_id":
      "1000005"}}'
    headers:
      Content-Type: [application/json]
    method: POST
    uri: https://api-sprint.qoqa.com/v1/admin/variations/
  response:
    body: {string: !!python/unicode '{"data": {"id": 14}}'}
    headers:
      content-type: [application/json; charset=utf-8]
      etag: [W/"a988765356782d75905c35e99b2d9b3f"]
    status: {code: 200, message: OK}
version: 1
